// Global styling for this template

body {
	@include body-font;
	padding-top: 54px;
	color: $text;
	// background: $primary; /* fallback for old browsers */
	// background: -webkit-linear-gradient(
	// 	to right,
	// 	$primary,
	// 	$last,
	// 	$secondary
	// ); /* Chrome 10-25, Safari 5.1-6 */
	// background: linear-gradient(
	// 	to right,
	// 	$primary,
	// 	$last,
	// 	$secondary
	// ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-color: $bg;
	// background-image: url("../../img/backgroundrepeat.jpg");
	// background-attachment: fixed;
	// linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
	background: url(../../img/capture2.jpg) no-repeat center center fixed;
	background-size: cover;
	box-shadow: inset 0 0 0 2000000px $primary-transparent;
}
@media (min-width: 992px) {
	body {
		padding-top: 0;

		padding-left: $sidebar-base-width;
	}
}
h1,
h2,
h3,
h4,
h5,
h6,
.h5 {
	@include heading-font;
	font-weight: 700;
	text-transform: uppercase;
	color: $last;
}
h1 {
	font-size: 6rem;
	line-height: 5.5rem;
}
h2 {
	font-size: 3.5rem;
}

h3 {
	font-size: 2rem;
}
p.h5 {
	font-size: 1.5rem;
	text-transform: none;
}

p.lead {
	font-size: 1.15rem;

	font-weight: 400;
}
.social-icons {
	a {
		display: inline-block;
		height: 3.5rem;
		width: 3.5rem;
		background-color: $gray-700;
		color: $white !important;
		border-radius: 100%;
		text-align: center;
		font-size: 1.5rem;
		line-height: 3.5rem;
		margin-right: 1rem;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			background-color: $secondary;
		}
	}
}
.dev-icons {
	font-size: 3rem;
	.list-inline-item i {
		&:hover {
			color: $primary;
		}
		color: $last;
	}
}
